<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Title{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
{% include "navbar.html" %}
<section class="section">
  <div class="container">
    {% block content %}Content{% endblock content %}
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>CasaWeb</strong> by <a href="#">Lukas Reimer</a>. The source code is
      licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
</body>
</html>
